@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

@font-face {
    font-family: Nautilus;
    src: url(Nautilus.otf);
}

h1 {
    font-family: Corleone;
}

h2 {
    font-family: Nautilus;
}